<h3 style="color: #2ab27b">Votre abonnement a été renouvelé</h3>

Merci d’utiliser yalty pour gérer l’administration de vos ressources humaines!

Votre abonnement mensuel a été renouvelé pour les <b><%= @active_employees_count %> employés actifs</b> que comporte votre équipe.
<ul>
  <li><b>Date de paiement:</b> <%= I18n.localize(@invoice.date) %></li>
  <li><b>Méthode de paiement:</b> <%= @card.brand %> se terminant par <%= @card.last4 %></li>
  <li><b>Compte:</b> <%= @account.subdomain %>.<%= ENV['YALTY_APP_DOMAIN'] %></li>
  <li><b>Numéro de facture:</b> <%= @invoice.receipt_number %></li>
</ul>
La date du prochain renouvellement est le <%= I18n.localize(@next_payment_date) %>. Vous pouvez visualiser l’historique de paiement et modifier votre abonnement depuis la page de facturation.

N’hésitez pas à nous contacter si vous avez des questions en répondant simplement à cet email. Merci pour votre confiance!
La yalteam

<small style='color: #aaaaaa'>Merci de noter qu’uniquement le propriétaire du compte a accès aux informations de paiement et est le seul à pouvoir les modifier.</small>
