<ul>
  <li><%= t('services.company_info.request_by', fullname: user.employee.fullname, email: user.email) %></li>
  <li><%= t('services.company_info.phone', phone: account.company_information.phone) %></li>
  <li><%= t('services.company_info.company_name', company_name: account.company_name, id: account.id) %></li>
  <li><%= t('services.company_info.url', url: subdomain_url_for(account)) %></li>
  <li>
    <%= t('services.company_info.address') %>
    <br />
    <% address_attributes.each do |address_attribute| %>
      <%= address_attribute %>
      <br />
    <% end %>
  </li>
</ul>
