<html>
  <body>
    <h1><%= t('services.send-quote.title') %></h1>
    <%= render 'company_information' %>
    <%= render 'services' %>
    <p>
      <%= t('services.send-quote.book-it-now') %> <%= link_to(t('services.send-quote.here'), service_booking_url_for(@account)) %>.
    </p>
  </body>
</html>
